<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
  <title>about</title>
</head>
<body>
  <dev class="main-content">
    {{>header}}
      <div id="aboutImg">
        <img class="portrait" src="/img/yutakaf.jpg">
      </div>
      <p>このサイトは<a href="https://www.udemy.com/course/the-complete-nodejs-developer-course-2/" target="_blank" rel="noopener noreferrer">Udemyのコース履修</a>の一貫として作成しました。</p>
      <p>Use Service</p>
      <ul id="list">
        <li>Hosting Service:<a href="https://www.heroku.com/" target="_blank" rel="noopener noreferrer">heroku</a></li>
        <li>Weather API :<a href="https://weatherstack.com/" target="_blank" rel="noopener noreferrer">weatherstack</a></li>
        <li>Geocode API :<a href="https://www.mapbox.com/" target="_blank" rel="noopener noreferrer">mapbox</a></li>
      </ul>
      <p>Use Skill</p>
      <ul id="list">
        <li>HTML / CSS (No SaaS/Bootstrap)</li>
        <li>JavaScript / Node.js</li>
        <li>GitHub / ShellCommand</li>
      </ul>
      <p>問い合わせなどは、<a id="link" href="https://github.com/blackraccoon000/weather_web" target="_blank" rel="noopener noreferrer">GitHub</a>にてお願いします。</p>
  </dev>
  {{>footer}}
</body>
</html>