<footer>
  <dev id="createBy">
    <dev>Created by {{name}}</dev>
    <a id="link" href="https://github.com/blackraccoon000/weather_web" target="_blank" rel="noopener noreferrer">GitHub</a>
  </dev>
</footer>