#nav {
  list-style: none;
  display: flex;
}
 
#nav li {
  width: 140px;
}
 
#nav li a {
  text-decoration: none;
}

#aboutImg {
  padding-left: 40px;
}

img {
  width: 250px;
  border: 1px solid #333;
}

#list li {
  list-style: none;
  width: 300px;
  padding-bottom: 8px;
}
 
#list li a {
  text-decoration: none;
}

body {
  color:#333;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 650px;
  margin: 0 auto;
  padding: 0 16px;

  display: flex;
  flex-direction: column;
  min-height: 90vh;
}

.main-content {
  flex-grow: 1;
}

header {
  border-bottom: 1px solid #eee;
  margin-bottom: 25px;
}

footer {
  color: #888;
  border-top: 1px solid #eee;
  padding-top: 16px;
  margin-top: 25px;
}

h1 {
  font-size: 64px;
  margin-bottom: 16px;
}

header a {
  margin-top: 16px;
  color: #888;
  margin-right: 16px;
  text-decoration: none;
}

.portrait {
  width: 250px;
}

input {
  border: 1px solid #ccc;
  padding: 8px;
}

button {
  cursor: pointer;
  border: 1px solid #888;
  background-color: #888;
  color: white;
  padding: 8px;
}

#link {
  text-decoration: none;
  color: #333;
  margin-left: 10px;
  margin-right: 10px;
}

#messageArea {
  border: #ccc 1px solid;
  margin-top: 30px;
  padding: 30px;
  width: 400px;
}